$color-theme: #00ccb1;
$color-roxo: #6e6fbe;
$color-text: #9FB7C0;
$color-text-1: #D4DDE0;
$color-text-2: #1A4457;
$color-text-3: #1D3040;
$color-danger: #CD1D2B;
$color-warnig: #FAD714;
$color-success: #00A425;
$color-info: #0048A2;
