.card-cadastro {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  z-index: 1070;

  .card-cadastro-body {
    background-color: #ffffff;
    @include border-radius(0px, 50px, 50px, 0px);
    padding: 2rem 1.5rem;
    width: 100%;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.25);
  }

  .separator-form {
    width: 100px;
    height: 5px;
    $listGradient: $color-theme, $color-roxo;
    @include bg-gradient(45deg, $listGradient);
    @include border-radius(10px, 10px, 10px, 10px);
    margin: 0 auto;
    margin-bottom: 20px;
  }

}

/*=================================================================================*/
/*=================================================================================*/
.body-cadastro {
  margin-top: 10px;
  min-height: calc(100vh - 160px);
}
